<!-- fragmento info -->
<section >
    <div class="container-fluid mb-5 p-3">
        <div class="row mb-5  ">
            <div class="col-md-2 "></div>

            <div class="col-md-5 align-self-end">
                <img src="../img/SAM_LETRAS-removebg-preview.png" alt=""/>                
            </div>
            <div class="col-lg-3 text-center">
                <img src="../img/Motocross-rafiki.png" alt="" width="250px"/>
            </div>
            <div class="col-md-2 "></div>
        </div>

        <div class="row mb-6 justify-content-center">
            
            <div class="col-md-7 text-center p-4 bg-light  shadow rounded">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam tincidunt quam a leo tincidunt egestas. Etiam dignissim sollicitudin tincidunt. Cras metus lacus, vehicula sed rutrum ut, lobortis vitae risus. Vestibulum convallis enim lorem, id porta urna pharetra et. Donec nec nulla ante. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vitae lectus laoreet lacus varius ullamcorper nec id erat. Etiam sagittis magna et risus dignissim egestas. Sed dapibus ac turpis eu fringilla. Suspendisse dictum id ipsum eu suscipit.

                    Aenean ornare ante nec nunc scelerisque, eu pharetra mi auctor. Quisque turpis tellus, pulvinar id pulvinar vel, sollicitudin non mauris. Aenean arcu elit, aliquam sed purus dapibus, condimentum lacinia leo. Suspendisse aliquet risus nec urna vestibulum efficitur. Integer euismod malesuada ligula vel consequat. Duis aliquet enim vitae odio molestie finibus. Duis eu tortor eu felis mollis volutpat.

                    Morbi at nisl non tellus iaculis feugiat. . </p>
            </div>
        </div>
    </div>
</section>